body {
    width: 5000px;
    height: 5000px;
}
button {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    display: none;
}